body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #119efc;
  padding: 20px 0 20px 15px;
  border-radius: 0 0 15px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.wrapper {
  width: 100%;
}

.add-item {
  border-radius: 0px 20px 20px 0px;
  border-top: 5px solid #119efc;
  border-bottom: 5px solid #119efc;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 30px 18px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.14), 0 5px 3px -2px rgba(0,0,0,.12), 0 5px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  height: 340px;
  margin-right: auto;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

.display-item {
  width: 100%;
  margin-left: 30px;
}

.display-item button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  display: block;
}

input {
  font-size: 22px;
  color: #000;
  background-color: #F5F5F5;
  padding: 15px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 75%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  border-radius: 20px;
  width: 25%;
  list-style-type: none;
  margin-right: 40px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.14), 0 5px 3px -2px rgba(0,0,0,.12), 0 5px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  border-radius:20px 20px  0 0 ;
  background-color: #119efc;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

h3 {
  background-color: #119efc;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 1px;
  margin-left: 20px
}

form button {
  width: 88%;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  border-radius: 5px;
  /*min-width: 88px;*/
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  /*min-width: 120px;*/
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}